<section class="navCommon">
	<div class="navCommonHeader"> <i class="material-icons" (click)="toggleNav()">close</i></div>
</section>
<section class="headerCommon">
	<i class="material-icons" (click)="toggleNav()">menu</i>
</section>
<section class="productFilter">
	<div class="filterBox"> Vegetables </div>
	<div class="filterBox"> Fruits </div>
	<div class="filterBox"> Others </div>
</section>
<section class="productListCommon">
   <ul class="productListCommon_UL">
   	  <li></li>
   	  <li></li>
   	  <li></li>
   	  <li></li>
   	  <li></li>
   	  <li></li>
   </ul>	
</section>
<section class="footerCommon">
	
</section>